<h1>Results</h1>

<form action="/goodbye">
  
  <label for ="1">first thing</label>
  <input id="1" type="text" name="zebra">

  <label for ="2">second thing</label>
  <input id="2" type="text" name="giraffe">

  <button>Go to /goodbye</button>
</form>
